body,
.wrapper {
  background-color: #fff;
  background-image: url();
  background-repeat: repeat;
}
footer,
.bg-footer {
  background: #F2F2F2;
  background: -moz-linear-gradient(top,#eaeaea 0%,#F2F2F2 15%,#F2F2F2 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#eaeaea),color-stop(15%,#F2F2F2),color-stop(100%,#F2F2F2));
  background: -webkit-linear-gradient(top,#eaeaea 0%,#F2F2F2 15%,#F2F2F2 100%);
  background: -o-linear-gradient(top,#eaeaea 0%,#F2F2F2 15%,#F2F2F2 100%);
  background: -ms-linear-gradient(top,#eaeaea 0%,#F2F2F2 15%,#F2F2F2 100%);
  background: linear-gradient(top,#eaeaea 0%,#F2F2F2 15%,#F2F2F2 100%);
  color: #999999;
}
footer .copyright {
  color: overlay(#F2F2F2,#000000);
}
footer .menu-bottom a {
  color: #999999;
}
.header-second,
.header-filter {
  border-color: #e6e6e6;
  background-color: #f2f2f2;
}
.main-title,
.widget-title,
.account-title,
.form-account .line-hr {
  border-bottom: 1px solid #e6e6e6;
}
.companies-statis div.first {
  border-bottom: 1px solid #e6e6e6;
}
.entry-blog .comments #respond h3.reply-title,
.entry-blog .comments .comment-list li {
  border-bottom: 1px solid #f2f2f2;
}
.entry-blog h3.title {
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}
.heading-info .heading-map {
  border: 1px solid #e6e6e6;
}
.heading-info .sharing ul li,
.heading-info .sharing ul li:first-child {
  border-color: #f0f0f0;
}
.btn-background {
  background: #fafafa;
  background: -moz-linear-gradient(top,#ffffff 0%,#fcfcfc 10%,#f7f7f7 88%,#ebebeb 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(10%,#fcfcfc),color-stop(88%,#f7f7f7),color-stop(100%,#ebebeb));
  background: -webkit-linear-gradient(top,#ffffff 0%,#fcfcfc 10%,#f7f7f7 88%,#ebebeb 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#fcfcfc 10%,#f7f7f7 88%,#ebebeb 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#fcfcfc 10%,#f7f7f7 88%,#ebebeb 100%);
  background: linear-gradient(top,#ffffff 0%,#fcfcfc 10%,#f7f7f7 88%,#ebebeb 100%);
  border: 1px solid #e0e0e0;
  color: #808080;
}
.btn-background:hover {
  border: 1px solid #e0e0e0;
  background: #f2f2f2;
  background: -moz-linear-gradient(top,#fcfcfc 0%,#fafafa 10%,#f2f2f2 88%,#e6e6e6 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(10%,#fcfcfc),color-stop(88%,#f7f7f7),color-stop(100%,#e6e6e6));
  background: -webkit-linear-gradient(top,#fcfcfc 0%,#fafafa 10%,#f2f2f2 88%,#e6e6e6 100%);
  background: -o-linear-gradient(top,#fcfcfc 0%,#fafafa 10%,#f2f2f2 88%,#e6e6e6 100%);
  background: -ms-linear-gradient(top,#fcfcfc 0%,#fafafa 10%,#f2f2f2 88%,#e6e6e6 100%);
  background: linear-gradient(top,#fcfcfc 0%,#fafafa 10%,#f2f2f2 88%,#e6e6e6 100%);
}
.btn-background:active {
  background: #e6e6e6;
  background: -moz-linear-gradient(top,#e6e6e6 0%,#f7f7f7 12%,#fcfcfc 90%,#ffffff 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e6e6e6),color-stop(12%,#f7f7f7),color-stop(90%,#fcfcfc),color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,#e6e6e6 0%,#f7f7f7 12%,#fcfcfc 90%,#ffffff 100%);
  background: -o-linear-gradient(top,#e6e6e6 0%,#f7f7f7 12%,#fcfcfc 90%,#ffffff 100%);
  background: -ms-linear-gradient(top,#e6e6e6 0%,#f7f7f7 12%,#fcfcfc 90%,#ffffff 100%);
  background: linear-gradient(top,#e6e6e6 0%,#f7f7f7 12%,#fcfcfc 90%,#ffffff 100%);
}
.widget_search input#s,
.input-search-box {
  background: #fff;
  box-shadow: inset 0 1px 2px #d9d9d9;
  -moz-box-shadow: inset 0 1px 2px #d9d9d9;
  -webkit-box-shadow: inset 0 1px 2px #d9d9d9;
  border-color: #cccccc;
  border-width: 1px;
  border-style: solid;
}
.heading {
  border-color: #e6e6e6;
}
.jse-signup-profile .module .title .btn-edit a,
.jse-profile .setting-profile,
.jse-profile .toggle-edit {
  color: #b3b3b3 !important;
}
.jse-signup-profile .module .title {
  border-color: #ebebeb !important;
}
.jse-signup-profile .module .edu-module .item .line {
  border-color: #e0e0e0 !important;
}
.jse-signup-profile .module .edu-module .item .dot {
  background-color: #e0e0e0 !important;
}
.edu-form {
  border-color: #f2f2f2 !important;
}
.jse-signup-profile .module .edu-module .item .content {
  color: #e0e0e0 !important;
}
.heading-info,
.bg-job-frame,
.bg-grey-widget {
  background-color: #fafafa;
  box-shadow: inset 0 1px 6px -2px #d9d9d9;
}
.jse-signup-profile .module.editing,
.authorized .jse-signup-profile .module-edit:hover {
  background-color: #fcfcfc !important;
}
.jquery-sort-column > ul > li .title,
ul.list-company > li .title {
  border-bottom: 1px solid #e6e6e6;
}
.heading-info,
ul.list-company ul li,
.jquery-sort-column > ul ul li,
.main-column .list-jobs li,
.entry-blog > li,
.job-account-list li {
  border-bottom: 1px solid #f2f2f2;
}
.job-account-list li .control {
  border-left: 1px solid #f2f2f2;
}
.widget-area .company-profile .info,
.entry-blog .comments li .thumb,
.entry-blog .comments li .children li {
  border-top: 1px solid #ededed;
}
.widget ul li a {
  border-bottom: 1px solid #f2f2f2 !important;
}
.bg-main-header {
  background: #383838;
  background: -moz-linear-gradient(top,#474747 0%,#383838 90%,#333333 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#474747),color-stop(90%,#383838),color-stop(100%,#333333));
  background: -webkit-linear-gradient(top,#474747 0%,#383838 90%,#333333 100%);
  background: -o-linear-gradient(top,#474747 0%,#383838 90%,#333333 100%);
  background: -ms-linear-gradient(top,#474747 0%,#383838 90%,#333333 100%);
  background: linear-gradient(top,#474747 0%,#383838 90%,#333333 100%);
}
.category .menu-header-top li > a,
.bg-btn-header {
  background: #4d4d4d;
  background: -moz-linear-gradient(top,#545454 0%,#4d4d4d 85%,#404040 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#545454),color-stop(85%,#4d4d4d),color-stop(100%,#404040));
  background: -webkit-linear-gradient(top,#545454 0%,#4d4d4d 85%,#404040 100%);
  background: -o-linear-gradient(top,#545454 0%,#4d4d4d 85%,#404040 100%);
  background: -ms-linear-gradient(top,#545454 0%,#4d4d4d 85%,#404040 100%);
  background: linear-gradient(top,#545454 0%,#4d4d4d 85%,#404040 100%);
  box-shadow: 0 1px 2px #2e2e2e;
  -moz-box-shadow: 0 1px 2px #2e2e2e;
  -webkit-box-shadow: 0 1px 2px #2e2e2e;
}
.current-menu-item .bg-btn-header,
.category .menu-header-top .current-menu-item a,
.account .menu-header-top .selected a,
.bg-btn-header:active {
  background: #1a1a1a !important;
  background: -moz-linear-gradient(top,#2e2e2e 0%,#1a1a1a 100%) !important;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2e2e2e),color-stop(100%,#1a1a1a)) !important;
  background: -webkit-linear-gradient(top,#2e2e2e 0%,#1a1a1a 100%) !important;
  background: -o-linear-gradient(top,#2e2e2e 0%,#1a1a1a 100%) !important;
  background: -ms-linear-gradient(top,#2e2e2e 0%,#1a1a1a 100%) !important;
  background: linear-gradient(top,#2e2e2e 0%,#1a1a1a 100%) !important;
  box-shadow: inset 0 2px 3px #1a1a1a;
  -moz-box-shadow: inset 0 2px 3px #1a1a1a;
  -webkit-box-shadow: inset 0 2px 3px #1a1a1a;
}
.header-technical .ver-line {
  background-color: #303030;
}
.main-header .slogan {
  color: #eeeeee;
  text-shadow: 1px 0 0 #1a1a1a;
}
body,
.tinymce-style {
  color: #333;
}
.breadcrumb a,
.breadcrumb span {
  color: #333;
}
.tinymce-style h1,
.tinymce-style h2,
.tinymce-style h3,
.tinymce-style h4,
.tinymce-style h5,
.tinymce-style h6,
.job-detail .description h6 {
  color: #262626;
}
.heading-info .info .name,
.widget .widget-title,
.heading h1.title {
  color: #1a1a1a;
}
.widget ul.category-lists li a,
.tinymce-style .description {
  color: #333;
}
.widget-select ul li a.active,
.widget-select ul li a:hover {
  border-color: #333;
}
.heading-info .viewcount,
.heading-info .date,
.heading-info .date:before,
.widget ul.category-lists li a span {
  color: #737373;
}
.heading-info .job-location:before,
.heading-info .job-location,
.main-column .list-jobs li .desc > div,
.main-column .list-jobs li .desc > div a {
  color: #595959;
}
.list-alphabet li a {
  color: #666666;
}
.jobseeker .account-title a {
  color: #666666;
}
.jobseeker .account-title .menu a {
  color: #333;
}
.entry-blog #respond input[type="submit"],
.bg-btn-action {
  background: #f39482;
  background: -moz-linear-gradient(top,#f6ac9e 0%,#f39482 90%,#f28c79 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f6ac9e),color-stop(90%,#f39482),color-stop(100%,#f28c79));
  background: -webkit-linear-gradient(top,#f6ac9e 0%,#f39482 90%,#f28c79 100%);
  background: -o-linear-gradient(top,#f6ac9e 0%,#f39482 90%,#f28c79 100%);
  background: -ms-linear-gradient(top,#f6ac9e 0%,#f39482 90%,#f28c79 100%);
  background: linear-gradient(top,#f6ac9e 0%,#f39482 90%,#f28c79 100%);
  font-family: "Quicksand";
  color: #eeeeee !important;
}
.entry-blog #respond input[type="submit"]:hover,
.bg-btn-action:hover {
  background: #f4a090;
  background: -moz-linear-gradient(top,#f7b4a7 0%,#f4a090 90%,#f28c79 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7b4a7),color-stop(90%,#f4a090),color-stop(100%,#f28c79));
  background: -webkit-linear-gradient(top,#f7b4a7 0%,#f39482 90%,#f28c79 100%);
  background: -o-linear-gradient(top,#f7b4a7 0%,#f4a090 90%,#f28c79 100%);
  background: -ms-linear-gradient(top,#f7b4a7 0%,#f4a090 90%,#f28c79 100%);
  background: linear-gradient(top,#f7b4a7 0%,#f4a090 90%,#f28c79 100%);
}
.entry-blog #respond input[type="submit"]:active,
.bg-btn-action:active {
  background: #f28c79;
  background: -moz-linear-gradient(top,#f28c79 0%,#f39482 10%,#f6ac9e 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f28c79),color-stop(10%,#f39482),color-stop(100%,#f6ac9e));
  background: -webkit-linear-gradient(top,#f28c79 0%,#f39482 10%,#f6ac9e 100%);
  background: -o-linear-gradient(top,#f28c79 0%,#f39482 10%,#f6ac9e 100%);
  background: -ms-linear-gradient(top,#f28c79 0%,#f39482 10%,#f6ac9e 100%);
  background: linear-gradient(top,#f28c79 0%,#f39482 10%,#f6ac9e 100%);
}
.bg-btn-action span {
  color: #eee;
}
.widget_calendar table td#today,
.widget_calendar table td a,
.entry-blog .content .footer a,
.entry-blog .content .header a.comment,
.heading .technical a {
  color: #F28C79;
}
.color-action {
  color: #F28C79;
}
.main-column a,
.main-column a:visited,
.widget a,
.widget a:visited {
  color: #F28C79;
}
.list-alphabet li.active a {
  color: #F28C79;
}
.modal-job .footer .forgot-pass-link {
  color: #F28C79;
}
.bg-btn-hyperlink {
  background: #f39482;
  background: -moz-linear-gradient(top,#f6ac9e 0%,#f39482 90%,#f28c79 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f6ac9e),color-stop(90%,#f39482),color-stop(100%,#f28c79));
  background: -webkit-linear-gradient(top,#f6ac9e 0%,#f39482 90%,#f28c79 100%);
  background: -o-linear-gradient(top,#f6ac9e 0%,#f39482 90%,#f28c79 100%);
  background: -ms-linear-gradient(top,#f6ac9e 0%,#f39482 90%,#f28c79 100%);
  background: linear-gradient(top,#f6ac9e 0%,#f39482 90%,#f28c79 100%);
}
.post-a-job .step ul li.selected {
  background: #ffffff;
}
.selected .btn-select button {
  background: #f9c8bf;
  color: #F28C79;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
::-moz-selection {
  background: #f7b4a7;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #f7b4a7;
  color: #ffffff;
  text-shadow: none;
}
.heading h1.title {
  font-size: 12px;
  font-family: Arial, san-serif;
}
.tinymce-style h1,
.tinymce-style h2,
.tinymce-style h3,
.tinymce-style h4,
.tinymce-style h5,
.tinymce-style h6,
.job-detail .description h6,
.main-title,
.widget .widget-title,
.headline {
  font-family: Arial, san-serif;
  margin: 0 0 10px 0;
}
.modal-job .title-white h5 {
  font-family: Arial, san-serif;
}
body,
.tinymce-style {
  font-family: Arial, san-serif;
  font-size: 14px;
}
a {
  color: #F28C79;
}
